/* GlassmorphicNavbar.css */

/* General Styling for the Navbar */
.glass-navbar {
  position: sticky;
  top: 0px;
  margin: 0 auto; /* Center inside the parent container */
  width: 92vw;
  /* max-width: 1200px; */
  color: #00ddff;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  margin-bottom: 20px;
}

.active {
  background-color: #00ddff;
  color: black !important;
}

/* Navbar Container */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
}

/* Brand Logo */
.brand {
  font-size: 1.5rem;
  font-weight: bold;
  /* text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8); */
  transition: all 0.3s ease;
}

.brand a {
  text-decoration: none;
  color: inherit;
}

.brand:hover {
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
}

/* Navigation Links */
.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  font-size: 1.5rem;
  color: #00ddff;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 10px;
  transition: background 0.3s ease, color 0.3s ease;
}

.nav-links a:hover {
  background: #0dbad4;
  color: black;
}


/* Responsive Design */
@media (max-width: 768px) {
  .nav-links {
    display: none; /* Hide nav links on smaller screens */
  }
}
