.main-container {
    max-width: 85vw; /* Limit width to prevent overly wide content */
    margin: 40px auto; /* Center horizontally and vertically with top/bottom margin */
    background-color: #414141aa;
    min-height: calc(100vh - 60px); /* Fill available height below Navbar */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    border-radius: 8px; /* Rounded corners */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px; /* Add padding for internal spacing */
    border: 2px solid #0dbad4;
    overflow: auto; /* Allow scrolling if content overflows */
}


@media (max-width: 768px) {
    .main-container {
        padding: 10px; /* Reduce padding on smaller screens */
    }
}

@media (max-width: 480px) {
    .main-container {
        padding: 5px; /* Further adjust for very small screens */
    }
}

body {
background-color: #00ddff;
background-image: url("https://www.transparenttextures.com/patterns/dark-geometric.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

}