.register-form {
    margin-bottom: 20px;
}

input {
    margin-top: 10px;
    margin-bottom: 20px;
    postion: relative;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: none;
    padding: 5px;
    background-color: rgb(73, 73, 73);
    color: white;
}

select {
    margin: 5px 0;
    postion: relative;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: none;
    padding: 5px;
    background-color: rgb(73, 73, 73);
    color: white;
}

button {
    margin: 20px 0;
    postion: relative;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding: 5px;
    background-color: #0dbad4;
    color: rgb(0, 0, 0);
}